div.employees {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
}

div.employeesForm {
  padding-right: 30px;
}

div.employeesCards {
  display: flex;
  flex-wrap: wrap;
}

div.employeesCard {
  padding: 5px;
}
